body {
  background-color: #EEF5DB;
  font-family: 'Playfair Display', serif;
  margin:0;
}
/* CSS for the footer */
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #93E88A;
  padding: 10px;
}
.container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: right;
  /* padding: 20px 0; */
  font-size: 14px;
}

/* unvisited link */
.footerlink a:link {
  color: black;
  text-decoration: none;
}
/* visited link */
.footerLink a:visited {
  color: black;
  text-decoration: none;
}

.footerLink a:hover {
  color: black;
  text-decoration: none;
  background-color: #F9D2D2;
}

.footerLink a:active {
  text-decoration: none;
}

/* CSS for the Top Nav */
nav{
  width:100%;
  background-color:black;
  text-align:center;
  margin:0 auto;
}
nav,
.fixed-nav{
  position:fixed;
  top:0;
  z-index:1;
}
.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#98FB98;
}
.topnav li{
  float:left;
  border-right: 1px solid #98FB98;
}

li:last-child {
  border-right: none;
}
.topnav li a{
  display: block;
  color:black;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #79C970;
}
.active li a {
  background-color: #4CAF50;
}
/* Title Styling */
h1{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 70px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
  color:MediumSeaGreen;
}
  
/* Mission Statement */
.mission{
  background-size: auto;
padding: 10px;
  background-image: url("Honeycomb.png");
  height:200px;
}
.mission h4{
 font-family:Georgia,Times,"Times New Roman";
 font-size:35px;
 font-style:normal;
 font-variant: normal;
 font-weight:300;
 text-align:center;
 color:MediumSeaGreen;
}
.mission pre{
  font-family:Georgia,Times,"Times New Roman";
  font-size: 27px;
  font-style: normal;
  font-variant:normal;
  font-weight: 100;
  text-align: center;
}
/* Home Buttons */
.column img{
  border-radius: 50%
}
.column{
  width:100%;
  float:left;
  width:30%;
  padding:9px;
  text-decoration: none;
  font-family:Georgia,Times,"Times New Roman";
  font-size: 22px;
  font-style: normal;
  font-variant:normal;
  font-weight: 100;
  text-align:left;
}
.column:hover{
  background-color:CornSilk;
}
.column a{
  text-decoration: none;
  color: MediumSeaGreen;
}
.column ul{
  color:black;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* About Tab css */
.about img {
  length: 60px;
  width: 50px;
  float: center;
}
.columnAbout{
  width:100%;
  float:left;
  width:31%;
  padding:20px;
  text-decoration: none;
  font-family:Georgia,Times,"Times New Roman";
  font-size: 14px;
  font-style: normal;
  font-variant:normal;
  font-weight: 100;
  text-align:left;
  margin: 10px;
  background-color: #E7FFE4
}
/* Buttons on About us page */
.columnAbout button{
  background-color:MediumSeaGreen;
}
  
#infoaboutZ {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: CornSilk;
  margin-top: 20px;
  display:none;
}
#infoaboutZosia {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: CornSilk;
  margin-top: 20px;
  display:none;
}
#infoaboutKen {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: CornSilk;
  margin-top: 20px;
  display:none;
}
/* Button for About us Page */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-5 {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	background: #9053a9;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}
/* zosias gif */
.jif {
  background-image: url("yellowbee.gif");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
/* image for logo headers */
.logoimg {
  /* The image used */
  background-image: url("fieldflowers2.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Styling for Why it Matters  */
.gif {
  background-image: url("giphy .gif");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pollination h2{
  color:MediumSeaGreen;
  padding:0;
  font-size: 45px;
  float:center;
  text-align: center;
}
.pollination h6{
  color: MediumSeaGreen;
  padding:0;
  margin:0;
  font-size:20px;
  float:center
}
video{
  object-fit:cover;
}
.pollination pre{
  font:"Playfair Display", serif;
  color:black;
  float:right;
  font-size: 22px;
  text-align:center;
}
.pollination a{
  text-decoration: none;
  float:center;
}
.title {
  float: left;
  width: 50%;
}
.rowpoll:after {
  content: "";
  display: table;
  clear: both;
}
/* Honey CSS */
/*body {
  background-color:#EEF5DB ;
*/
}
.border{
  background-color: white;
}

/*h1 {
  color:  green;
  margin-left: 20px;
}
*/
.headr3 h3{
   font-style: oblique;
  font-size: 15px}
.headr2 h2  {
    font-family: serif;
    color: black;
  background-color: white;
  }

/*.text{
  font-family: 'Cabin', sans-serif;
}
*/
div {
  text-align: justify;
}
.header{
  background-color: #faf3de
  text-align: center;
  padding: 20px

}
.column {
  float: left;
  width: 33.33%
}
.centerbox {
  margin:auto;
  width:60%;
  border: 3px solid #73AD21;
  padding:10px
}

/* Left and right column */
.column.side {
  float: right;
  width: 33.33%;
}

/* Middle column */
.column.middle {
  float: middle;
  width: 33.33%;
}
div.gallery{
  margin:5px;
  border: 1 px solid #ccc;
  float: left;
  width: 180px

}
div.gallery:hover {
  border:1px solid #777

}
div.gallery img {
  width: 100;
  height: auto;

}

div.desc {
padding: 15px;
text-align: center;
}

.img2{ border-radius: 100%
  c
}


{
  box-sizing: border-box;
}

.body {
  font-family: Arial;
  font-size: 17px;
}

.beekeeper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container.content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px
}
/* CSS of the Background Gif */
.giphy {
  background-image: url("heyhoney.gif");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.images
{
  text-align: center;
}

